/*** Main Stylesheet for Portfolio ***/

body {
    background-color: #f9fbe7;
}

nav {
    margin-bottom: 30px;
}

table {
    background-color: white;
}

td a {
    color: black;
}

td a:hover {
    color: #80cbc4;
    text-decoration: underline;
}

/*** Sticky Footer ***/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}