body {
    background-color: #f9fbe7;
}

nav {
    margin-bottom: 30px;
}
table {
    background-color: white;
}

td a {
    color: black;
}

td a:hover {
    color: #80cbc4;
    text-decoration: underline;
}
