body { background-color: #f9fbe7; }

.day  { height: 25px; width: 100px; border: 3px solid; border-color: black;  text-align: center; vertical-align: middle; line-height: 25px; background-color: white; }
.today { height: 25px; width: 100px; border: 3px solid; text-align: center; vertical-align: middle; line-height: 25px;  background-color: white; }
.dayHeader { height: 50px; width: 100px;  font-weight: bold;  text-align: center; background-color: black; color:white; }

h2 { text-align: center; font-weight: bold; font-family: Arial; }

table { background-color: #f9fbe7;  }

.available { background-color: green; width: 200px; height: 40px; }

.unavailable { background-color: red; width: 200px; height: 40px; }

